<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <label style="color: aqua; size: B5" class="label" >登录</label>

    <form id="login_info" class="controls-pane" action="/login/checkLongin" method="post">
        <a style="color: black">
            <label>用户名</label>
        </a>
        <a>
            <input id="username" content="请输入用户名" type="text" name="userName">
        </a>
        <br/>
        <a style="color: black">
            <label>密码</label>
        </a>
        <a>
            <input id="password" content="请输入密码" type="text" name="userPassword">
        </a>

        <button class="button" type="submit" content="登录" >登录</button>
    </form>

    <div>
        <input id="code" placeholder="验证码" type="text" class=""
               style="width:170px">
        <!-- 验证码 显示 -->
        <img onclick="javascript:getvCode()" id="verifyimg" style="margin-left: 20px;"/>
    </div>

    <script type="text/javascript">
        getvCode();

        /**
         * 获取验证码
         * 将验证码写到login.html页面的id = verifyimg 的地方
         */
        function getvCode() {
            document.getElementById("verifyimg").src = timestamp("http://127.0.0.1:8080/login/verifyCode");
        }
        //为url添加时间戳
        function timestamp(url) {
            var getTimestamp = new Date().getTime();
            if (url.indexOf("?") > -1) {
                url = url + "&timestamp=" + getTimestamp
            } else {
                url = url + "?timestamp=" + getTimestamp
            }
            return url;
        };
    </script>

</body>
</html>