<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>

    <form method="post" datatype="com.keyt.test_1.bean.UserBean" action="/login/register">
        <a style="color: black">
            <label>用户名</label>
        </a>
        <a>
            <input id="username" placeholder="请输入用户名" type="text" name="userName">
        </a>
        <br/>
        <a style="color: black">
            <label>密码</label>
        </a>
        <a>
            <input id="password" placeholder="请输入密码" type="text" name="userPassword">
        </a>

        <button type="submit" name="register">注册</button>

    </form>

</body>
</html>